<header class="headcol-2">
    <div>
        <a href="../index.html">
            <img src="../svg/my-recipes.svg">
        </a>
    </div>
    <nav class="topnav">
        <ul class="topmenu">
            <li><a href="../bread.html" class="virkur"><span class="icon-bread"></span> Bread</a></li>
            <li><a href="#"><span class="icon-starters"></span> Starters</a></li>
            <li><a href="#"><span class="icon-maincourses"></span> Main Courses</a></li>
            <li><a href="#"> <span class="icon-desserts"></span> Desserts</a></li>
            <li><a href="#"><span class="icon-glass"></span> Drinks</a></li>
        </ul>
    </nav>
</header>